@import "common";
@import "variables";
.findplaces {
  .map {
    position: relative;
    height: 500px;
  }
  .details {
    font-style: italic;
  }
}

.all-places {
  width: 100%;
  .search-table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    padding: 0 15px;
    -webkit-box-shadow: inset 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: inset 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
    box-shadow: inset 0px 0px 2px 0px rgba(0, 0, 0, 0.75);

    thead {
      border-bottom: 1px solid goldenrod;
      display: table;
      width: 100%;
      tr {
        height: 30px;
        display: table;
        width: 100%;
        box-sizing: border-box;
        th {
          word-break: break-all;
          border-collapse: collapse;
          font-size: 15px;
          font-style: italic;
          font-weight: bold;
          @extend .text-center;
        }
      }
    }
    tbody {
      display: block;
      max-height: 200px;
      overflow-y: scroll;
      tr {
        height: 40px;
        display: table;
        width: 100%;
        box-sizing: border-box;
        td {
          padding-left: 0.5em;
          word-break: break-all;
          border-collapse: collapse;
          max-width: 0;
          &:not(:first-child):hover {
            overflow: visible;
          }
          &:not(:first-child) {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        }
        &:nth-child(even) {
          background-color: #f2f2f2;
        }
        &:hover {
          background-color: #f2f2f2;
        }
      }
    }
    .edit,
    .delete {
      color: $theme-color;
      cursor: pointer;
    }
  }
}
